@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #2d6ab5;
}

.navbar-brand img {
    height: 100%;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #6293CE;
    color: white;
}

.text-overflow {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.panel {
    margin: 0.8em;
}

.container {
    width: 100%;
    padding: 0;
}
