<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-title">
                <h4>Backtest Workers</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th></th>
                        <th>Accepting New Jobs</th>
                        <th>Current Job</th>
                        <th>Jobs Queue</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="worker in backtesterWorkersCtrl.workers | orderBy:'Name'">
                        <th><a href ng-click="backtesterWorkersCtrl.showWorkerDetails(worker.Name)">{{worker.Name}}</a></th>
                        <td ng-class="[{'bg-success': worker.IsAcceptingJobs}, {'bg-danger': !worker.IsAcceptingJobs}]">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-success" ng-disabled="worker.IsAcceptingJobs" ng-click="backtesterWorkersCtrl.workerAcceptJobs(worker.Name)">Yes</button>
                                <button class="btn btn-danger" ng-disabled="!worker.IsAcceptingJobs" ng-click="backtesterWorkersCtrl.workerRejectJobs(worker.Name)">No</button>
                            </div>
                        </td>
                        <td><a href ng-click="backtesterWorkersCtrl.showJobDetails(worker.CurrentJob)">{{worker.CurrentJob}}</a></td>
                        <td>{{worker.Jobs.length}}</td>
                        <td ng-class="[{'bg-success': worker.status.IsAlive}, {'bg-danger': !worker.status.IsAlive}]">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-success" ng-disabled="worker.status.IsAlive" ng-click="backtesterWorkersCtrl.start(worker.Name)">Start</button>
                                <button class="btn btn-danger" ng-disabled="!worker.status.IsAlive" ng-click="backtesterWorkersCtrl.stop(worker.Name)">Stop</button>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-warning btn-xs" ng-click="backtesterWorkersCtrl.edit(worker.Name)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button class="btn btn-danger btn-xs" ng-click="backtesterWorkersCtrl.delete(worker.Name)">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <button class="btn btn-success" ng-click="backtesterWorkersCtrl.add()">
                                <span class="glyphicon glyphicon-plus-sign"></span> Add New
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
