<div>
    <div class="modal-header">
        <h3>New Backtester Worker</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="formAddWorker">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" id="name" class="form-control" ng-model="backtesterWorkersAddCtrl.worker.Name" required />
                </div>
            </div>
            <worker-config-edit worker="backtesterWorkersAddCtrl.worker"></worker-config-edit>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="backtesterWorkersAddCtrl.submit()" ng-disabled="formAddWorker.$invalid">Add</button>
        <button class="btn btn-default" ng-click="backtesterWorkersAddCtrl.cancel()">Cancel</button>
    </div>
</div>