<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <uib-tabset active="jobDetailsCtrl.activeTabIndex">
            <uib-tab heading="Info" select="jobDetailsCtrl.updateLocation('info')">
                <job-details job="jobDetailsCtrl.job"></job-details>
            </uib-tab>
            <uib-tab heading="All Trades">
                <job-all-trades trades="jobDetailsCtrl.allTrades"></job-all-trades>
            </uib-tab>
            <uib-tab heading="Unr PnLs" ng-show="jobDetailsCtrl.allUnrealizedPnlSeries">
                <job-unrealized-pnls name="jobDetailsCtrl.jobName" pnls="jobDetailsCtrl.allUnrealizedPnlSeries"></job-unrealized-pnls>
            </uib-tab>
            <uib-tab ng-repeat="output in jobDetailsCtrl.job.Output" select="jobDetailsCtrl.updateLocation(output.Day)" active="jobDetailsCtrl.activeSubTabIndex">
                <uib-tab-heading>
                    {{output.Day}} <span class="badge" ng-show="output.Status.Progress">{{output.Status.Progress | number:0}} %</span>
                </uib-tab-heading>
                <uib-tabset>
                    <uib-tab heading="Status" select="jobDetailsCtrl.updateActiveSubTab('status')">
                        <job-day-details status="output.Status"></job-day-details>
                    </uib-tab>
                    <uib-tab select="jobDetailsCtrl.updateActiveSubTab('alerts')">
                        <uib-tab-heading>
                            Alerts <span class="badge">{{output.Alerts.length}}</span>
                        </uib-tab-heading>
                        <job-alerts name="jobDetailsCtrl.job.Name" day="output.Day" alerts="output.Alerts"></job-alerts>
                    </uib-tab>
                    <uib-tab select="jobDetailsCtrl.updateActiveSubTab('orders')">
                        <uib-tab-heading>
                            Orders <span class="badge">{{output.Orders.length}}</span>
                        </uib-tab-heading>
                        <job-orders name="jobDetailsCtrl.job.Name" day="output.Day" orders="output.Orders"></job-orders>
                    </uib-tab>
                    <uib-tab select="jobDetailsCtrl.updateActiveSubTab('trades')">
                        <uib-tab-heading>
                            Trades <span class="badge">{{output.Trades.length}}</span>
                        </uib-tab-heading>
                        <job-trades name="jobDetailsCtrl.job.Name" day="output.Day" trades="output.Trades"></job-trades>
                    </uib-tab>
                    <uib-tab heading="Positions" select="jobDetailsCtrl.updateActiveSubTab('positions')">
                        <job-positions name="jobDetailsCtrl.job.Name" day="output.Day" positions="output.Positions"></job-positions>
                    </uib-tab>
                </uib-tabset>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
        <div class="panel panel-default">
            <div class="panel-heading">Pending Jobs</div>
            <div class="panel-body">
                <ul class="list-group list-group-xs">
                    <li class="list-group-item text-overflow" ng-repeat="job in jobDetailsCtrl.activeJobs | filter:{Status:'CREATED'}">
                        <a href="#/jobs/{{job.Name}}/info" ng-hide="job.Name === jobDetailsCtrl.jobName">{{job.Name}}</a>
                        <strong ng-show="job.Name === jobDetailsCtrl.jobName">{{job.Name}}</strong>
                    </li>
                </ul>
                <a class="btn btn-link" ui-sref="jobs"><span class="glyphicon glyphicon-arrow-left"></span> Back to Jobs List</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Jobs In Progress</div>
            <div class="panel-body">
                <ul class="list-group list-group-xs">
                    <li class="list-group-item text-overflow" ng-repeat="job in jobDetailsCtrl.activeJobs | filter:{Status:'INPROGRESS'}">
                        <a href="#/jobs/{{job.Name}}/info" ng-hide="job.Name === jobDetailsCtrl.jobName">{{job.Name}}</a>
                        <strong ng-show="job.Name === jobDetailsCtrl.jobName">{{job.Name}}</strong>
                    </li>
                </ul>
                <a class="btn btn-link" ui-sref="jobs"><span class="glyphicon glyphicon-arrow-left"></span> Back to Jobs List</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Jobs Completed</div>
            <div class="panel-body">
                <ul class="list-group list-group-xs">
                    <li class="list-group-item text-overflow" ng-repeat="job in jobDetailsCtrl.inactiveJobs | filter:{Status:'COMPLETED'}">
                        <a href="#/jobs/{{job.Name}}/info" ng-hide="job.Name === jobDetailsCtrl.jobName">{{job.Name}}</a>
                        <strong ng-show="job.Name === jobDetailsCtrl.jobName">{{job.Name}}</strong>
                    </li>
                </ul>
                <a class="btn btn-link" ui-sref="jobs"><span class="glyphicon glyphicon-arrow-left"></span> Back to Jobs List</a>
            </div>
        </div>
    </div>
</div>