<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Active Orders {{backtestJobDay}} <small>{{backtestJobName}}</small></h4>
    </div>
    <div class="table-responsive" ng-show="backtestJobOrders.length">
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Placed Time (HKT)</th>
                <th>Last Update (HKT)</th>
                <th>Origin</th>
                <th>Status</th>
                <th>Type</th>
                <th>Side</th>
                <th>Quantity</th>
                <th>Pair</th>
                <th>Fill Price</th>
                <th>Limit Price</th>
                <th>Stop Price</th>
                <th>Trail Amt</th>
            </tr>
            <tr ng-repeat="order in backtestJobOrders | filter:{Status:'Submit'} | orderBy:'-PlacedTime'" ng-click="showOrderDetails(order.OrderId)">
                <td>{{order.OrderId}}</td>
                <td>{{order.PlacedTime | date:'dd/MM/yy HH:mm:ss'}}</td>
                <td>{{order.LastUpdateTime | date:'dd/MM/yy HH:mm:ss'}}</td>
                <td>{{shortenOrigin(order.Origin)}}</td>
                <td>{{order.Status}}</td>
                <td>{{order.Type}}</td>
                <td>{{order.Side}}</td>
                <td>{{order.Quantity / 1000}}K</td>
                <td>{{order.Cross}}</td>
                <td>{{formatRate(order.Cross, order.FillPrice)}}</td>
                <td>{{formatRate(order.Cross, order.LimitPrice)}}</td>
                <td>{{formatRate(order.Cross, order.StopPrice)}}</td>
                <td>{{formatRate(order.Cross, order.TrailingAmount)}}</td>
            </tr>
        </table>
    </div>
    <div class="panel-body" ng-hide="backtestJobOrders.length">
        <p>No order for this job</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Inactive Orders {{backtestJobDay}} <small>{{backtestJobName}}</small></h4>
    </div>
    <div class="table-responsive" ng-show="backtestJobOrders.length">
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Placed Time (HKT)</th>
                <th>Last Update (HKT)</th>
                <th>Origin</th>
                <th>Status</th>
                <th>Type</th>
                <th>Side</th>
                <th>Quantity</th>
                <th>Pair</th>
                <th>Fill Price</th>
                <th>Limit Price</th>
                <th>Stop Price</th>
                <th>Trail Amt</th>
            </tr>
            <tr ng-repeat="order in backtestJobOrders | filter:{Status:'!Submit'} | orderBy:'-PlacedTime'" 
                ng-class="[{'success': order.Status == 'Filled'}, {'danger': order.Status == 'Cancelled'}]"
                ng-click="showOrderDetails(order.OrderId)">
                <td>{{order.OrderId}}</td>
                <td>{{order.PlacedTime | date:'dd/MM/yy HH:mm:ss'}}</td>
                <td>{{order.LastUpdateTime | date:'dd/MM/yy HH:mm:ss'}}</td>
                <td>{{shortenOrigin(order.Origin)}}</td>
                <td>{{shortenStatus(order.Status)}}</td>
                <td>{{shortenType(order.Type)}}</td>
                <td>{{order.Side}}</td>
                <td>{{order.Quantity / 1000}}K</td>
                <td>{{order.Cross}}</td>
                <td>{{formatRate(order.Cross, order.FillPrice)}}</td>
                <td>{{formatRate(order.Cross, order.LimitPrice)}}</td>
                <td>{{formatRate(order.Cross, order.StopPrice)}}</td>
                <td>{{formatRate(order.Cross, order.TrailingAmount)}}</td>
            </tr>
        </table>
    </div>
    <div class="panel-body" ng-hide="backtestJobOrders.length">
        <p>No order for this job</p>
    </div>
</div>