<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Alerts <small>{{backtestJobName}}</small></h4>
    </div>
    <div class="table-responsive" ng-show="backtestJobAlerts.length">
        <table class="table table-hover">
            <tr ng-repeat="alert in backtestJobAlerts" ng-click="showAlertDetails(alert.AlertId)"  
                ng-class="[{'danger': alert.Level === 'ERROR' || alert.Level === 'FATAL'}, 
                {'warning': alert.Level === 'WARNING'},
                {'info': alert.Level === 'INFO' || alert.Level === 'DEBUG'}]">
                <td>{{alert.Timestamp | date:'dd/MM/yy HH:mm:ss'}}</td>
                <td>{{alert.Level}}</td>
                <td>{{alert.Status}}</td>
                <td>{{alert.Source}}</td>
                <td>{{alert.Subject}}</td>
            </tr>
        </table>
    </div>
    <div class="panel-body" ng-hide="backtestJobAlerts.length">
        <p>No alert for this job</p>
    </div>
</div>