<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-title">
                <h4>Pending Jobs</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Created (HKT)</th>
                        <th>Status</th>
                        <th>Scheduled Start (HKT)</th>
                        <th>Worker</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="job in jobsCtrl.pendingJobs">
                        <td ng-click="jobsCtrl.showJobDetails(job.Name)"><a href="">{{job.Name}}</a></td>
                        <td>{{job.CreateTime | date:'dd/MM/yy HH:mm:ss'}}</td>
                        <td>{{job.Status}}</td>
                        <td>{{job.ScheduledStartTime | date:'dd/MM/yy HH:mm:ss'}}</td>
                        <td><a href ng-click="jobsCtrl.showWorkerDetails(job.Worker)">{{job.Worker}}</a></td>
                        <td>
                            <button class="btn btn-danger btn-xs" ng-click="jobsCtrl.deleteJob(job.Name)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <button class="btn btn-success" ng-click="jobsCtrl.createJob()">
                                <span class="glyphicon glyphicon-plus-sign"></span> Add New
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>