<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Workers</h4>
            </div>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Last Heard From (HKT)</th>
                    <th>Accepts New Jobs</th>
                </tr>
                <tr ng-repeat="worker in mainCtrl.workers | orderBy:'name'" 
                    ng-class="[{'bg-success': worker.status.OverallStatusLevel === 'GREEN'}, {'bg-warning': worker.status.OverallStatusLevel === 'YELLOW'}, {'bg-danger': worker.status.OverallStatusLevel === 'RED'}]"
                    ng-click="mainCtrl.showWorkerStatusDetails(worker.name)">
                    <td>{{worker.name}}</td>
                    <td>{{worker.status.LastHeardFrom | date:'dd/MM/yy HH:mm:ss'}}</td>
                    <td>
                        <span class="glyphicon glyphicon-ok-sign" ng-show="mainCtrl.getAttributeValue(worker.name, 'AcceptsJobs')"></span>
                        <span class="glyphicon glyphicon-remove-sign" ng-hide="mainCtrl.getAttributeValue(worker.name, 'AcceptsJobs')"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>